
.logo-container{
    text-align: center;
}

#thehindu-logo{
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar-top{
    display: block;
}
#navbar-items{
    
    /* align-items: center; */
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.navbar-item{
    text-align: left;
    border-top: solid black 4px;
    margin-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 5px;
}

.navbar-link{
        
        text-decoration: solid;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
}

#navbar-items2{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;

}

.navbar-item2{
    margin: 5px;

}
.navbar-link2{
    text-decoration: none;
    color: brown;
}

.navbar-btns{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
#TH-btn{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 100%;
    background-color: rgb(255, 251, 31);
}